*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    font-weight: 900;
   
}

.calc-wrapper {
    width: 340px;
    height: 600px;
    border: 1px solid black;
    margin: 30px auto;
    padding: 10px 10px;
    background-color: rgb(68, 107, 107);
    text-align: end;
    border-radius: 10px;
    box-shadow: inset -6px 6px rgb(45, 45, 45),inset 3px -3px rgb(45, 45, 45);
    
}
.casmio {
    color: white;
    margin-right: 5px;
    margin-top: 5px;
}
.calc-screen1 {
    width: 100%;
    height: 120px;
    margin: 20px auto;
    border-radius: 3px;
    text-align: end;
    background-color:rgb(126, 126, 103) ;
    font-size: 35px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 10px solid rgb(24, 23, 23);
    border-left: 10px solid rgb(57, 56, 56);
    border-top: 4px solid black;
    border-right: 4px solid black;

}
.calc-screen {
    width: 100%;
    height: 120px;
}
.calc-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.btn {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.909), rgba(100, 100, 100, 0.954));
    box-shadow: inset -5px -5px 5px rgb(0, 0, 0), inset 5px 5px 5px black, 5px 5px 25px black;
    position: relative;
    transition: all 0.2s;
}

.btn::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.009));
    border: 1px solid rgba(255, 255, 255, 0.098);
    border-radius: 10px;
    top: 9px;
    right: 11px;
}

.btn:active {
    transform: scale(0.95);
}

.zero{
    width: 150px;
    background:linear-gradient(90deg, rgb(104, 2, 2), rgb(220, 10, 10));
    box-shadow: inset -5px -5px 5px rgb(104, 2, 2), inset 5px 5px 5px rgb(146, 3, 3), 5px 5px 25px black;
   
}
.zero:before{
    width: 130px;
    background:linear-gradient(90deg, rgba(177, 3, 3, 0.548), rgba(240, 36, 36, 0.114));
    border: 1px solid rgba(255, 255, 255, 0.24);
}
.opposite{
    background:linear-gradient(90deg, rgb(33, 1, 149), rgba(108, 22, 212, 0.954));
    box-shadow: inset -5px -5px 5px rgb(21, 2, 132), inset 5px 5px 5px rgb(46, 3, 146), 5px 5px 25px black;
   
}
.opposite:before{
    background:linear-gradient(90deg, rgba(49, 3, 177, 0.548), rgba(240, 36, 36, 0.114));
    border: 1px solid rgba(255, 255, 255, 0.24);
}


